@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

:root{
    --pure-black: #000000;
    --white: #FFFFFF;
    --blue: #2D9CDB;
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;
    --gray-6: #F2F2F2;
    --green: #27AE60;
    --tomoto-red: #EB5757;
    --footer-bg: #100E1D;
    --footer-color: #828282;
    /* FONTS */ 
    --ff-heebo: 'Heebo', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
}

html, body{ min-height: 100vh; }

body{    
    background: var(--white);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    position: relative;
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

button{ 
    cursor: pointer;
    transition: all 0.3s linear;
}

img {
    width: 100%;
    display: block;
}

label{
    color: var(--gray-3);
    font-family: var(--ff-poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.d-flex{
    display: flex;
    flex-direction: row;
}

.d-inline-block{ display: inline-block; }
.flex-column { flex-direction: column; }
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.align-items-center{ align-items: center;}

.attribution{    
    padding: 46px 160px 24px 160px;
    width: 100%;    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    font-family: var(--ff-poppins);
    background-color: var(--footer-bg);
    color: var(--gray-6);
    margin-top: 30px;
}

.attribution a{
    color: var(--gray-6);
}

.attribution a:first-child{
    font-weight: 700;    
}

.mt-200{ margin-top: 200px; }

#edie-header__container{
    padding: 42px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edie-main__container{
    padding: 100px 160px 0px 160px;
}

.edie_logo{
    color: var(--gray-1);
    font-family: var(--ff-heebo);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.edit__desktop_navbar_list{
    display: flex;
    column-gap: 40px;
    align-items: center;
    list-style: none;
}

.edit__mobile_navbar_list{
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 140px;
    text-align: center;
    justify-content: center;
}

.edit__desktop_navbar_listitem, .edit__mobile_navbar_listitem{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.edit__mobile_navbar_listitem{
    color: var(--white);
}

.edit__desktop_navbar_listitem:hover, .edit__mobile_navbar_listitem:hover{
    color: var(--blue);
}

.nav_menu_icon, .edit__mobile_navbar{ display: none; }

.edit__mobile_navbar {
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 0;
    padding: 12px;
    width: 100%;
    background: #000000e0;
    height: 100%;
    z-index: 1;
    transition: all .3s linear;
}

.blue-text{
    color: var(--blue);
    font-family: var(--ff-poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero_text{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 543px;
}

.hero_image{ margin: 42px 0px; }
.hero_image img{ border-radius: 18px; }
.join_section{ width: 366px; }

.join_section_heading{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.join_section_text{
    color: var(--gray-2);
    font-family: var(--ff-poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_email{
    width: 100%;
    height: 57px;
    border-radius: 12px;
    background: var(--gray-6);
    padding: 15px 94px 15px 21px;
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.input_email::placeholder{
    color: var(--gray-4);
}

.input_email:focus, .email__join:focus, .email__join:active{ outline: none; }

.email__join{
    width: 94px;
    height: 49px;
    border-radius: 10px;
    background: var(--blue);
    border: none;
    color: var(--gray-6);
    font-family: var(--ff-poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.services__section{ margin: 200px auto; }

.services__section h3, .services__business h3{
    width: 346px;
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offered_services{
    display: flex;
    column-gap: 30px;
    margin-top: 42px;
    justify-content: center;
}

.service__card{
    width: 341px;
    padding: 46px 34px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    cursor: pointer;
    transition: all .3s linear;
}

.service-icon{
    width: 67px;
    height: 67px;
    display: flex;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}

.service__card .service-icon:first-child{
    background: var(--blue);
}

.service__card:nth-child(2) .service-icon{
    background: var(--green);
}

.service__card:nth-child(3) .service-icon{
    background: var(--tomoto-red);
}

.service-name{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.service-description{
    color: var(--gray-2);
    font-family: var(--ff-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.get-started{
    width: 116px;
    height: 42px;
    border-radius: 12px;
    background: var(--gray-5);
    color: var(--gray-3);
    font-family: var(--ff-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all .3s linear;
    border: none;
}

.service__card:hover{
    border-radius: 24px;
    background: var(--white);
    box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
}

.service__card:hover .get-started{
    background: var(--blue);
    color: var(--white);
}

.services__business{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.services__business h3{ width: 448px; }

.offered_business{
    display: grid;
    grid-template-columns: repeat(2, 543px);
    gap: 0px 11px;
    place-items: center;
    place-content: center;
}

.offered_business .business_card:nth-child(odd){
    margin-top: 154px;
}

.offered_business .business_card:nth-child(even){
    margin-top: -154px;
}

.business_card{ 
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    justify-content: center;
    cursor: pointer;
}

.business_card:hover img{
    transform: scale(1.1);
}

.business_image{ overflow: hidden; border-radius: 24px; }

.business_image img{
    border-radius: 24px;
    transition: all .3s linear;
}

.business__type{
    color: var(--gray-3);
    font-family: var(--ff-poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.business__name{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.see-more{ 
    color: var(--blue);
    font-family: var(--ff-poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-text{
    color: var(--tomoto-red);
    font-family: var(--ff-poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-meet-text{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.team-meet-desc{
    color: var(--gray-2);
    font-family: var(--ff-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.team-section div:nth-child(1){ width: 280px; }

.team__gallery{
    display: flex;
    gap: 12px;
    align-items: center;
}

.team__gallery_img img{ border-radius: 24px; }

.team__gallery_item1 {
    width: 320px;
}

.team__gallery_item2 {
    width: 260px;
}

.team__gallery_item3 {
    width: 300px;
}

.testimonial_section{
    display: flex;
    row-gap: 36px;
    flex-direction: column;
    width: 937px;
    margin: 200px 0px;
}

.person_testimonial{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.person_testimonial_name{
    color: var(--gray-1);
    font-family: var(--ff-poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.person_testimonial_by{
    color: var(--gray-3);
    font-family: var(--ff-poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    list-style: none;
    text-align: left;
    cursor: pointer;
}

.footer_logo{
    color: var(--gray-6);
    font-family: var(--ff-heebo);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media only screen and (max-width: 1280px) {
    #edie-main__container {
        padding: 100px 100px 0px 100px;
    }
    .attribution{
        padding: 46px 100px 24px 100px;
    }
}

@media only screen and (max-width: 1100px) {
    #edie-main__container{ padding: 50px; padding-bottom: 0px; }
    .offered_business{
        grid-template-columns: repeat(2, auto);
    }
    .team__gallery_item1, .team__gallery_item3{
        width: 260px;
    }
    .attribution{
        padding: 46px 50px 24px 50px;
    }
    .offered_services{ flex-wrap: wrap; }
}

@media only screen and (max-width: 992px) {
    .edit__desktop_navbar{ display: none; }
    .nav_menu_icon{ display: block; }
    .join_section {
        width: 50%;
        margin: 0 auto;
    }
    .services__section, .testimonial_section{
        margin: 100px auto;
    }
    .testimonial_section{ width: 100%; }
    .mt-200{ margin-top: 100px; }
    .service__card{ width: auto; }
    .team-section{ flex-direction: column; row-gap: 40px; }
    .team-section div:nth-child(1) {
        width: 100%;
        text-align: center;
    }
    .services__section h3, .services__business h3{
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .hero_text, .join_section_heading{ font-size: 36px; }
    #edie-header__container{ padding: 14px; }
    #edie-main__container{ padding: 48px 14px; }
    .join_section{ width: 100%; }
    .person_testimonial{ font-size: 24px; }
}

@media only screen and (max-width: 600px) {
    .edie_logo,.hero_text,.join_section_heading,
    .services__section h3, .services__business h3{ font-size: 24px; }
    .blue-text, .join_section_text, .business__type{ font-size: 12px; }
    label{ font-size: 10px; }
    .business__name, .see-more{ font-size: 18px; }
    .input_email, .email__join{
        font-size: 14px;
    }
    .offered_business {
        grid-template-columns: repeat(1, auto);
        row-gap: 31px;
    }
    .offered_business .business_card:nth-child(odd),
    .offered_business .business_card:nth-child(even){
        margin: 0;
    }
    .team__gallery_item1, .team__gallery_item3{ width: 178px; }
    .team__gallery_item2{ width: 144px; }
    .attribution .join_section_form .email__join{
        top: 28px !important;
    }
    .hero_text{ width: 272px; }
}

@media only screen and (max-width: 360px) {
    .team__gallery_item1, .team__gallery_item3{ width: 144px; }
    .team__gallery_item2 {
        width: 114px;
    }
}